* {
    list-style: none;
}
#header {
background-color: rgb(255, 255, 255);

}
#header div.Items {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#header div.Items div.left {

}
#header div.Items div.left div.image {
    width: 10%;
}
#header div.Items div.left div.image img {
    display: block;
    margin-left: 20px;
    width: 70%;
}
#header div.Items div.right{
    
}
#header div.Items div.right ul{
    display: flex;
    align-items: center;
}
#header div.Items div.right ul li{
    margin-right: 40px;
    font-size: 15px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-family: sans-serif;
}
#spotlight{
    background: url(https://images4.alphacoders.com/267/thumb-1920-267518.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding: 30px;
    
}
#spotlight h2 {
    text-align: center;
    padding-top: 20%;
    font-size: 40px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #8f6642;
    margin-top: 50px;
    width: 100%;    
}
#spotlight p{
    text-align: center;
    margin-right: 15px;
        font-size: 20px;
        color: rgb(255, 255, 255);
        font-family: Georgia, 'Times New Roman', Times, serif;
        
}
#third {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #8f6642;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    padding: 20px;
}

.container .card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 300px;
    max-width: 100%;
    height: 300px;
    background: white;
    border-radius: 20px;
    transition: 0.5s;
    box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
}

.container .card:hover {
    height: 400px;
}

.container .card .img-box {
    position: absolute;
    top: 20px;
    width: 280px;
    height: 220px;
    background: #000000;
    border-radius: 12px;
    overflow: hidden;
    transition: 0.5s;
}

.container .card:hover .img-box {
    top: -100px;
    scale: 0.75;
    box-shadow: 0 15px 45px rgba(0, 0, 0, 0.2);
}

.container .card .img-box img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container .card .content {
    position: absolute;
    top: 252px;
    width: 100%;
    height: 35px;
    padding: 30px;
    text-align: center;
    overflow: hidden;
    transition: 0.5s;
}

.container .card:hover .content {
    top: 130px;
    height: 250px;
}

.container .card .content h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--clr);
}

.container .card .content p {
    color: #333;
}

.container .card .content a {
    position: relative;
    top: 15px;
    display: inline-block;
    padding: 12px 25px;
    text-decoration: none;
    background: var(--clr);
    color: white;
    font-weight: 500;
}

.container .card .content a:hover {
    opacity: 0.8;
    background-color: #000000;
    color: aqua;
}

@media (max-width: 480px) {
    .container .card {
        width: 230px;
        border-radius: 15px;
    }

    .container .card .img-box {
        width: 185px;
        border-radius: 10px;
    }

    .container .card .content p {
        font-size: 0.8rem;
    }

    .container .card .content a {
        font-size: 0.9rem;
    }
}
.container .trans{
    position: relative;
    width: 300px;
    max-width: 100%;
    height: 300px;
    justify-content: center;
}
.container .trans img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container .txt h3{
    color: rgb(0, 0, 0);
    font-family: sans-serif;
    margin-block-start: 0%;
    margin-block-end: 0%;   
}
#four {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #ffffff;
}
.f4{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.f4 .pic img{
    position: relative;
    width: 420px;
    max-width: 100%;
    height: 300px;
    justify-content: center;
    border-radius: 20px;
}
.f4 .text{
    font-family: 'Poppins', sans-serif;
}
#footer {
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profiles .text{
    color: white;
    font-family: 'Poppins', sans-serif;
}
.profiles .text h3{
    margin-block-end: 0%;
    text-align: center;
}
.profiles .text h6{
    text-align: center;
    margin-block: 0%;
}
.profiles .people img{
    height: 60px;
    width: 60px;
    border-radius: 50px;
    padding: 20px;
}